* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* background do site  */
.background-imagem-Yourteam {
    width: 100%;
}

.background-Yourteam{
    margin-bottom: 100vh;
}

.cards-Yourteam {
    position: absolute;
    margin-left:15vw;
    margin-top: 40vh;
}

  
.class-Yourteam {
    position: absolute;
    margin-top: 100px;
    margin-left: 250px;
    color: white;
  
  }

  .titulo-Yourteam {
    font-size: 50px;
  }

  .card-icon-red {
    position: absolute;
    background-color: #F43735;
    border-radius: 60%;
    padding: 15px;
    margin-left: 10.5vw;
   margin-top: 25vh;
  }

  .botao-next-prev-YourTeam {
    display: flex;
    justify-content: end;
    margin-right: 20vw;
    margin-bottom: 80px;
  }

  /* responsividade */

  @media (max-width: 750px) { 

    .card-icon-red {
        margin-left: 5.5vw;
       margin-top: 20vh;
      }

      .cards-Yourteam {
        margin-left:15vw;
        margin-top: 20vh;
    }

    .titulo-Yourteam {
        font-size: 25px;
      }
    .class-Yourteam {
        margin-top: 10px;
        margin-left: 25px;
        color: white;
      
      }

      .background-imagem-Yourteam {
        margin-bottom: 310vh;
      }

     
    }

 

    
    @media (max-height:680px) {
        .background-imagem-Yourteam {
            margin-bottom: 430vh;
          }
          .card-icon-red {
            margin-left: 5.5vw;
           margin-top: 25vh;
          }
    }


    @media (max-height:480px) {
        .background-imagem-Yourteam {
            margin-bottom: 630vh;
          }
          .card-icon-red {
            margin-left: 5.5vw;
           margin-top: 35vh;
          }
    }
